/*  your css code here. If applicable */
*{
	padding:0;
	margin:0;
}
#animal-photos{
	width:100vw;
	height:80vh;
	background:black;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
}
.images{
	width:80%;
	height:100%;
	background:gray;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
img{
	width:170px;
	border-radius:10px
}



